html{ 
}

body {
    
    
    background-image: url("fundo.jpg");
        
  }

 #btcliente{
     
     
 }

 #btproduto{
  
    
}

#btservico{
  
    
}

#btfuncionario{
  
    
}

#btagendamento{

}
img{
    border-width: medium;
  border-style: solid;
  border-color: #000000;
}